.profile-card {
    width: 480px;
    max-width: calc(100vw - 10px);
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
    
  }
  /* CSS reset */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Poppins', sans-serif;
  }
  .head, .links {
    text-align: center;
  }
  
  .head, .content {
    width: 90%;
    margin: 0 auto;
  }
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 1px;
    background-color: #666;
    filter: grayscale(50%);
  }
  .profile-image {
    margin-top: -60px;
  }
  /* Contact links */
  
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline;
  }
  .head, .about {
    margin-bottom: 10%;
  }
  
  .content {
    padding: 5% 10%;
    border-top: 1px solid hsla(0, 0%, 30%, .8);
  }
  body {
    background-color:slategray;
  }
  img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: grayscale(20%);
  }
  a:link {
    color:dodgerblue;
    padding:2%;
  }
  a:visited {
    color:dodgerblue;
  }
  a:hover {
    color: slategray;
  }
  h1{
    text-transform:uppercase;
  }
  ul{
    margin-top:5%;
  }
  .name-headline{
    line-height: 130%;
    margin-bottom:-20px;
  }
  span {
    color:dodgerblue;
    font-size: 14px;
  }